In [145]:
import numpy as np
import pandas as pd

In [146]:
data = pd.read_csv("Downloads/train_v9rqX0R.csv")
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [149]:
Q=data['Item_Identifier'][1705]

In [153]:
O=data['Outlet_Identifier'][1705]

In [9]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [10]:
#df['Item_Identifier']

In [11]:
#df['Item_Identifier'].value_counts()

In [12]:
#df['Item_Type'].value_counts()

In [13]:
#df['Outlet_Identifier'].value_counts()

In [14]:
data['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [15]:
#df['Outlet_Size'].value_counts()

In [16]:
#df['Item_Outlet_Sales'].value_counts()

In [17]:
#df.isna().sum()

In [18]:
#df['Item_Weight'].value_counts()

In [19]:
#df["Item_Weight"] = df['Item_Weight'].fillna(df['Item_Weight'].value_counts().index[0])

In [20]:
#df["Outlet_Size"] = df['Outlet_Size'].fillna(df['Outlet_Size'].value_counts().index[0])

In [21]:
#df.isnull().sum()

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [23]:
test = pd.read_csv("Downloads/test_AbJTz2l.csv")
test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [25]:
print(data.head())

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

In [26]:
print(test.head())

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility    Item_Type  \
0           FDW58       20.750          Low Fat         0.007565  Snack Foods
1           FDW14        8.300              reg         0.038428        Dairy
2           NCN55       14.600          Low Fat         0.099575       Others
3           FDQ58        7.315          Low Fat         0.015388  Snack Foods
4           FDY38          NaN          Regular         0.118599        Dairy

   Item_MRP Outlet_Identifier  Outlet_Establishment_Year Outlet_Size  \
0  107.8622            OUT049                       1999      Medium
1   87.3198            OUT017                       2007         NaN
2  241.7538            OUT010                       1998         NaN
3  155.0340            OUT017                       2007         NaN
4  234.2300            OUT027                       1985      Medium

  Outlet_Location_Type        Outlet_Type
0               Tier 1  Supermarket Type1
1               Tier 2  Supermarket Type1
2               Tier 3      Grocery Store
3               Tier 2  Supermarket Type1
4               Tier 3  Supermarket Type3

In [27]:
print(test.shape, data.shape)

(5681, 11) (8523, 12)

In [28]:
data.apply(lambda x: sum(x.isnull()))

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [29]:
test.apply(lambda x: sum(x.isnull()))

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [30]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [31]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [32]:
data.apply(lambda x: len(x.unique()))

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [33]:
test.apply(lambda x: len(x.unique()))

Item_Identifier              1543
Item_Weight                   411
Item_Fat_Content                5
Item_Visibility              5277
Item_Type                      16
Item_MRP                     4402
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
dtype: int64

In [34]:
categorical_columns = [x for x in data.dtypes.index if data.dtypes[x]=='object']
#Exclude ID cols and source:
categorical_columns = [x for x in categorical_columns if x not in ['Item_Identifier','Outlet_Identifier','source']]
#Print frequency of categories
for col in categorical_columns:
    print ('\nFrequency of Categories for varible %s'%col)
    print(data[col].value_counts())

Frequency of Categories for varible Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

Frequency of Categories for varible Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

Frequency of Categories for varible Outlet_Size
Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

Frequency of Categories for varible Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

Frequency of Categories for varible Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [35]:
#Determine the average weight per item:
item_avg_weight = data.pivot_table(values='Item_Weight', index='Item_Identifier')
item_avg_weight

                 Item_Weight
Item_Identifier
DRA12                 11.600
DRA24                 19.350
DRA59                  8.270
DRB01                  7.390
DRB13                  6.115
...                      ...
NCZ30                  6.590
NCZ41                 19.850
NCZ42                 10.500
NCZ53                  9.600
NCZ54                 14.650

[1555 rows x 1 columns]

In [36]:
data['Item_Weight'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Item_Weight, Length: 8523, dtype: bool

In [37]:
data['Item_Weight'].isnull().sum()

1463

In [38]:
avg_value = data['Item_Weight'].mean()

In [39]:
# Fill the missing values with the average value
data['Item_Weight'].fillna(avg_value, inplace=True)

In [40]:
print('Final #missing: %d'% sum(data['Item_Weight'].isnull()))

Final #missing: 0

In [41]:
from scipy.stats import mode

#Determing the mode for each
outlet_size_mode = data.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]) )

In [42]:
print(outlet_size_mode)

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size         Small             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium

In [43]:
mode_= data['Outlet_Size'].mode()[0]
data['Outlet_Size'].fillna(mode_, inplace=True)

In [44]:
print(sum(data['Outlet_Size'].isnull()))

0

In [45]:
data.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

In [46]:
avg_value = data['Item_Visibility'].mean()

In [47]:
# Fill the missing values with the average value
data['Item_Visibility'].fillna(avg_value, inplace=True)

In [48]:
print(sum(data['Item_Visibility'].isnull()))

0

In [49]:
data['Item_Type_Combined'] = data['Item_Identifier'].apply(lambda x: x[0:2])
#Rename them to more intuitive categories:
data['Item_Type_Combined'] = data['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
data['Item_Type_Combined'].value_counts()

Food              6125
Non-Consumable    1599
Drinks             799
Name: Item_Type_Combined, dtype: int64

In [50]:
#Years:
data['Outlet_Years'] = 2013 - data['Outlet_Establishment_Year']
data['Outlet_Years'].describe()

count    8523.000000
mean       15.168133
std         8.371760
min         4.000000
25%         9.000000
50%        14.000000
75%        26.000000
max        28.000000
Name: Outlet_Years, dtype: float64

In [51]:
#Change categories of low fat:
print('Original Categories:')
print(data['Item_Fat_Content'].value_counts())

print('\nModified Categories:')
data['Item_Fat_Content'] = data['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print(data['Item_Fat_Content'].value_counts())

Original Categories:
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

Modified Categories:
Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [52]:
#Mark non-consumables as separate category in low_fat:
data.loc[data['Item_Type_Combined']=="Non-Consumable",'Item_Fat_Content'] = "Non-Edible"
data['Item_Fat_Content'].value_counts()

Low Fat       3918
Regular       3006
Non-Edible    1599
Name: Item_Fat_Content, dtype: int64

In [53]:
data.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)
test.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)

In [54]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   float64
 1   Item_Fat_Content           8523 non-null   object
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   int64
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Size                8523 non-null   object
 7   Outlet_Location_Type       8523 non-null   object
 8   Outlet_Type                8523 non-null   object
 9   Item_Outlet_Sales          8523 non-null   float64
 10  Item_Type_Combined         8523 non-null   object
 11  Outlet_Years               8523 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 799.2+ KB

In [87]:
#One Hot Coding:
data = pd.get_dummies(data, columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type'])

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Item_Weight                    8523 non-null   float64
 1   Item_Visibility                8523 non-null   float64
 2   Item_Type                      8523 non-null   int64
 3   Item_MRP                       8523 non-null   float64
 4   Outlet_Establishment_Year      8523 non-null   int64
 5   Item_Outlet_Sales              8523 non-null   float64
 6   Item_Type_Combined             8523 non-null   object
 7   Outlet_Years                   8523 non-null   int64
 8   Item_Fat_Content_Low Fat       8523 non-null   uint8
 9   Item_Fat_Content_Non-Edible    8523 non-null   uint8
 10  Item_Fat_Content_Regular       8523 non-null   uint8
 11  Outlet_Location_Type_Tier 1    8523 non-null   uint8
 12  Outlet_Location_Type_Tier 2    8523 non-null   uint8
 13  Outlet_Location_Type_Tier 3    8523 non-null   uint8
 14  Outlet_Size_High               8523 non-null   uint8
 15  Outlet_Size_Medium             8523 non-null   uint8
 16  Outlet_Size_Small              8523 non-null   uint8
 17  Outlet_Type_Grocery Store      8523 non-null   uint8
 18  Outlet_Type_Supermarket Type1  8523 non-null   uint8
 19  Outlet_Type_Supermarket Type2  8523 non-null   uint8
 20  Outlet_Type_Supermarket Type3  8523 non-null   uint8
dtypes: float64(4), int64(3), object(1), uint8(13)
memory usage: 641.0+ KB

In [89]:
data['Item_Type']= le.fit_transform(data['Item_Type'])

In [90]:
data['Item_Type_Combined']= le.fit_transform(data['Item_Type_Combined'])

In [91]:
data.info

<bound method DataFrame.info of       Item_Weight  Item_Visibility  Item_Type  Item_MRP  \
0           9.300         0.016047          4  249.8092
1           5.920         0.019278         14   48.2692
2          17.500         0.016760         10  141.6180
3          19.200         0.000000          6  182.0950
4           8.930         0.000000          9   53.8614
...           ...              ...        ...       ...
8518        6.865         0.056783         13  214.5218
8519        8.380         0.046982          0  108.1570
8520       10.600         0.035186          8   85.1224
8521        7.210         0.145221         13  103.1332
8522       14.800         0.044878         14   75.4670

      Outlet_Establishment_Year  Item_Outlet_Sales  Item_Type_Combined  \
0                          1999          3735.1380                   1
1                          2009           443.4228                   0
2                          1999          2097.2700                   1
3                          1998           732.3800                   1
4                          1987           994.7052                   2
...                         ...                ...                 ...
8518                       1987          2778.3834                   1
8519                       2002           549.2850                   1
8520                       2004          1193.1136                   2
8521                       2009          1845.5976                   1
8522                       1997           765.6700                   0

      Outlet_Years  Item_Fat_Content_Low Fat  Item_Fat_Content_Non-Edible  \
0               14                         1                            0
1                4                         0                            0
2               14                         1                            0
3               15                         0                            0
4               26                         0                            1
...            ...                       ...                          ...
8518            26                         1                            0
8519            11                         0                            0
8520             9                         0                            1
8521             4                         0                            0
8522            16                         1                            0

      ...  Outlet_Location_Type_Tier 1  Outlet_Location_Type_Tier 2  \
0     ...                            1                            0
1     ...                            0                            0
2     ...                            1                            0
3     ...                            0                            0
4     ...                            0                            0
...   ...                          ...                          ...
8518  ...                            0                            0
8519  ...                            0                            1
8520  ...                            0                            1
8521  ...                            0                            0
8522  ...                            1                            0

      Outlet_Location_Type_Tier 3  Outlet_Size_High  Outlet_Size_Medium  \
0                               0                 0                   1
1                               1                 0                   1
2                               0                 0                   1
3                               1                 0                   1
4                               1                 1                   0
...                           ...               ...                 ...
8518                            1                 1                   0
8519                            0                 0                   1
8520                            0                 0                   0
8521                            1                 0                   1
8522                            0                 0                   0

      Outlet_Size_Small  Outlet_Type_Grocery Store  \
0                     0                          0
1                     0                          0
2                     0                          0
3                     0                          1
4                     0                          0
...                 ...                        ...
8518                  0                          0
8519                  0                          0
8520                  1                          0
8521                  0                          0
8522                  1                          0

      Outlet_Type_Supermarket Type1  Outlet_Type_Supermarket Type2  \
0                                 1                              0
1                                 0                              1
2                                 1                              0
3                                 0                              0
4                                 1                              0
...                             ...                            ...
8518                              1                              0
8519                              1                              0
8520                              1                              0
8521                              0                              1
8522                              1                              0

      Outlet_Type_Supermarket Type3
0                                 0
1                                 0
2                                 0
3                                 0
4                                 0
...                             ...
8518                              0
8519                              0
8520                              0
8521                              0
8522                              0

[8523 rows x 21 columns]>

In [92]:
categorical_columns = [x for x in test.dtypes.index if test.dtypes[x]=='object']
#Exclude ID cols and source:
categorical_columns = [x for x in categorical_columns if x not in ['Item_Identifier','Outlet_Identifier','source']]
#Print frequency of categories
for col in categorical_columns:
    print ('\nFrequency of Categories for varible %s'%col)
    print(test[col].value_counts())

Frequency of Categories for varible Item_Fat_Content
Low Fat    3668
Regular    2013
Name: Item_Fat_Content, dtype: int64

Frequency of Categories for varible Item_Type
Snack Foods              789
Fruits and Vegetables    781
Household                638
Frozen Foods             570
Dairy                    454
Baking Goods             438
Canned                   435
Health and Hygiene       338
Meat                     311
Soft Drinks              281
Breads                   165
Hard Drinks              148
Starchy Foods            121
Others                   111
Breakfast                 76
Seafood                   25
Name: Item_Type, dtype: int64

Frequency of Categories for varible Outlet_Size
Small     3198
Medium    1862
High       621
Name: Outlet_Size, dtype: int64

Frequency of Categories for varible Outlet_Location_Type
Tier 3    2233
Tier 2    1856
Tier 1    1592
Name: Outlet_Location_Type, dtype: int64

Frequency of Categories for varible Outlet_Type
Supermarket Type1    3717
Grocery Store         722
Supermarket Type3     624
Supermarket Type2     618
Name: Outlet_Type, dtype: int64

Frequency of Categories for varible Item_Type_Combined
Series([], Name: Item_Type_Combined, dtype: int64)

In [93]:
test['Item_Weight'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
5676    False
5677    False
5678    False
5679    False
5680    False
Name: Item_Weight, Length: 5681, dtype: bool

In [94]:
test['Item_Weight'].isnull().sum()

0

In [95]:
avg_value = test['Item_Weight'].mean()

In [96]:
# Fill the missing values with the average value
test['Item_Weight'].fillna(avg_value, inplace=True)

In [97]:
print('Final #missing: %d'% sum(test['Item_Weight'].isnull()))

Final #missing: 0

In [98]:
from scipy.stats import mode

#Determing the mode for each
outlet_size_mode =test.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]) )

In [99]:
print(outlet_size_mode)

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size         Small             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium

In [100]:
miss_bool = test['Outlet_Size'].isnull() 

#Impute data and check #missing values before and after imputation to confirm
print('\nOrignal #missing: %d'% sum(miss_bool))
test.loc[miss_bool,'Outlet_Size'] = test.loc[miss_bool,'Outlet_Type'].apply(lambda x: outlet_size_mode[x])
print(sum(test['Outlet_Size'].isnull()))

Orignal #missing: 0
0

In [101]:
#Get the first two characters of ID:
test['Item_Type_Combined'] =test['Item_Type'].apply(lambda x: x[0:2])
#Rename them to more intuitive categories:
test['Item_Type_Combined'] =test['Item_Type'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
test['Item_Type_Combined'].value_counts()

Series([], Name: Item_Type_Combined, dtype: int64)

In [102]:
#Years:
test['Outlet_Years'] = 2013 -test['Outlet_Establishment_Year']
test['Outlet_Years'].describe()

count    5681.000000
mean       15.171097
std         8.372256
min         4.000000
25%         9.000000
50%        14.000000
75%        26.000000
max        28.000000
Name: Outlet_Years, dtype: float64

In [103]:
#Change categories of low fat:
print('Original Categories:')
print(test['Item_Fat_Content'].value_counts())

print('\nModified Categories:')
test['Item_Fat_Content'] = test['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print(test['Item_Fat_Content'].value_counts())

Original Categories:
Low Fat    3668
Regular    2013
Name: Item_Fat_Content, dtype: int64

Modified Categories:
Low Fat    3668
Regular    2013
Name: Item_Fat_Content, dtype: int64

In [104]:
X=data.drop('Item_Outlet_Sales',axis=1)
Y=data['Item_Outlet_Sales']

In [105]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=101, test_size=0.2)

In [106]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [107]:
X_train_std=sc.fit_transform(X_train)
X_test_std=sc.transform(X_test)

## Logistic regression

In [108]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [109]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [110]:
lr.fit(X_train_std,Y_train)

LinearRegression()

In [111]:
y_pred_lr=lr.predict(X_test_std)

In [112]:
print(r2_score(Y_test,y_pred_lr))
print(mean_absolute_error(Y_test,y_pred_lr))
print(np.sqrt(mean_squared_error(Y_test,y_pred_lr)))

0.5566549868648212
825.0021802094782
1099.2164783692451

## Random forest

In [5]:
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor(n_estimators=1000)

In [357]:
rf.fit(X_train_std,Y_train)

RandomForestRegressor(n_estimators=1000)

In [358]:
y_pred_rf= rf.predict(X_test_std)

In [359]:
print(r2_score(Y_test,y_pred_rf))
print(mean_absolute_error(Y_test,y_pred_rf))
print(np.sqrt(mean_squared_error(Y_test,y_pred_rf)))

0.5475299179373759
782.5450387812311
1110.471074553784

## #hyper parameter tuning

In [113]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV

In [114]:
# define models and parameters
model = RandomForestRegressor()
n_estimators = [10, 100, 1000]
max_depth=range(1,31)
min_samples_leaf=np.linspace(0.1, 1.0)
max_features=["auto", "sqrt", "log2"]
min_samples_split=np.linspace(0.1, 1.0, 10)

In [115]:
# define grid search
grid = dict(n_estimators=n_estimators)

In [129]:
#cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=101)

grid_search_forest = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, 
                           scoring='r2',error_score=0,verbose=2,cv=2)

grid_search_forest.fit(X_train_std, Y_train)

Fitting 2 folds for each of 3 candidates, totalling 6 fits

GridSearchCV(cv=2, error_score=0, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'n_estimators': [10, 100, 1000]}, scoring='r2',
             verbose=2)

[CV] END ...................................n_estimators=100; total time=   4.0s
[CV] END ...................................n_estimators=100; total time=   4.2s
[CV] END ....................................n_estimators=10; total time=   0.4s
[CV] END ..................................n_estimators=1000; total time=  28.5s
[CV] END ....................................n_estimators=10; total time=   0.4s
[CV] END ..................................n_estimators=1000; total time=  28.9s

In [133]:
# summarize results
print(f"Best: {grid_search_forest.best_score_:.3f} using {grid_search_forest.best_params_}")
means = grid_search_forest.cv_results_['mean_test_score']
stds = grid_search_forest.cv_results_['std_test_score']
params = grid_search_forest.cv_results_['params']

for mean, stdev, param in zip(means, stds, params):
    print(f"{mean:.3f} ({stdev:.3f}) with: {param}")

Best: 0.549 using {'n_estimators': 1000}
0.508 (0.012) with: {'n_estimators': 10}
0.548 (0.005) with: {'n_estimators': 100}
0.549 (0.005) with: {'n_estimators': 1000}

In [134]:
grid_search_forest.best_params_

{'n_estimators': 1000}

In [135]:
grid_search_forest.best_score_

0.5494042510675559

In [136]:
y_pred_rf_grid=grid_search_forest.predict(X_test_std)

In [137]:
r2_score(Y_test,y_pred_rf_grid)

0.5506829280214359

In [154]:
# use the best model to predict on test data
y_pred_rf_grid = grid_search_forest.predict(X_test_std)

# create a new dataframe with the predicted values
df_results = pd.DataFrame({'Item_Identifier':Q,'Outlet_Identifier':O,'Item_Outlet_Sales': y_pred_rf_grid})

# save the dataframe to a CSV file
df_results.to_csv('predicted_results.csv', index=False)

In [155]:
import os

cwd = os.getcwd()
print("Current working directory:", cwd)

Current working directory: /home/susan

In [157]:
import os

# create results directory if it does not exist
if not os.path.exists("/home/susan"):
    os.mkdir("/home/susan")

# save dataframe as csv file in results directory
df_results.to_csv("/home/susan/result3_file.csv", index=False)