In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import silhouette_score

In [ ]:
# Read the CSV

In [2]:
data= pd.read_csv('/content/sample_data/USArrests.csv')

In [3]:
data = data.rename(columns={'Unnamed: 0': 'States'}) # Change the name of the column form Unnamed to States

In [4]:
data.isnull().sum() # Checking for any missed data

States      0
Murder      0
Assault     0
UrbanPop    0
Rape        0
dtype: int64

In [5]:
# KMeans Clustering
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans


# Scale the data using a standard scaler
scaler = StandardScaler()
scaled_df = scaler.fit_transform(data.iloc[:, 1:])


# Developing the model
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(scaled_df)
origkmeans_score = silhouette_score(scaled_df, kmeans.labels_)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [6]:
# Algomerative Clustering 
from sklearn.cluster import AgglomerativeClustering

# Developing the Model
agglom = AgglomerativeClustering(n_clusters=3, linkage='ward')
agglom.fit(scaled_df)
origagg_score = silhouette_score(scaled_df, agglom.labels_)

In [7]:
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
pca_df = pca.fit_transform(scaled_df)

# Convert the PCA results to a dataframe
pca_cols = [f'PCA_{i+1}' for i in range(3)]
pca_df = pd.DataFrame(pca_df, columns=pca_cols)


pca_df.head()

      PCA_1     PCA_2     PCA_3
0  0.985566  1.133392 -0.444269
1  1.950138  1.073213  2.040003
2  1.763164 -0.745957  0.054781
3 -0.141420  1.119797  0.114574
4  2.523980 -1.542934  0.598557

In [8]:
kmeans = KMeans(n_clusters=3, random_state=0)
kmeans.fit(pca_df)
pcakmeans_score = silhouette_score(scaled_df, kmeans.labels_)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [9]:
agglom = AgglomerativeClustering(n_clusters=3, linkage='ward')
agglom.fit(pca_df)
pcaagg_score = silhouette_score(scaled_df, agglom.labels_)

In [11]:
print('kmeans=',origagg_score)

kmeans= 0.31036358174027895

In [12]:
print('PCA=',pcaagg_score)

PCA= 0.31036358174027895